@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");

body {
  --color-black-almost: #101010;
  --color-gray-very-dark: #232323;
  --color-gray-dark: #4a4a4a;
  --color-gray: #7a7a7a;
  --color-orange-for-white: #E61E0A;
  --color-orange-for-black: #FA320A;
  --color-orange-link-active: #C33706;
  --color-white: #fff;
  --color-white-almost: #f7f7f7;
  --font-weight-bold: 700;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

#page-wrapper {
  background-color: var(--color-black-almost);
  width: 100%;
}


/* Basic */

body {
  overflow-x: hidden;
}

input,
select,
textarea {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
  color: var(--color-white);
}

h1, h2, h3, h4 {
  color: var(--color-white);
  font-size: 1.625rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.016rem;
}

h1 {
  margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
}

img {
  width: 100%;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  display: inline-block;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.emphasis {
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

.quote {
  font-style: italic;
}

.container {
  margin: 0 auto;
}

.main-nav {
  text-align: center;
}

.main-nav li:last-child a {
  border-bottom: 0.125rem solid var(--color-white);
}

.main-nav li {
  display: block;
}

.main-nav li a {
  height: 4.375rem;
  line-height: 4.375rem;
  display: inline-block;
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  width: 100%;
  transition: all 0.5s;
  border-top: 0.125rem solid var(--color-white);
}

.main-nav li:hover a,
.main-nav li.active a {
  background: var(--color-white);
  color: var(--color-orange-link-active);
}

/* Sidebar Menu */

.menu {
  left: 10%;
  transition: 233ms cubic-bezier(0, 0, 0.21, 1);
  -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-orange-for-white);
  box-sizing: border-box;
  height: 100vh;
  max-height: 100vh !important;
  max-width: 80vw !important;
  min-width: 2.813rem !important;
  outline: none;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 0;
  position: fixed !important;
  text-align: center;
  top: 0;
  width: 20%;
  will-change: transform;
  z-index: 9999 !important;
}

.menu .image {
  margin-top: 3.75rem;
}

.menu .image img {
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 50%;
  text-align: center;
}

.menu .author-content {
  margin: 2.5rem 0 3.75rem;
}

.menu .author-content .job-title {
  font-size: 0.813rem;
  font-style: italic;
  color: var(--color-white);
}

.menu .social-network {
  margin-top: 3.75rem;
}

.menu .social-network ul li {
  margin: 0 0.188rem;
}

.menu .social-network ul li a {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  text-align: center;
  line-height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--color-white);
  font-size: 0.875rem;
  transition: all 0.5s;
}

.menu .social-network ul li a:hover {
  background-color: var(--color-white);
  color: var(--color-orange-for-white);
}

.menu .social-network ul li a:hover .social-icon {
  fill: var(--color-orange-for-white);
}

.menu .social-icon {
  fill: var(--color-white);
  height: 1.25rem;
  width: 1.25rem;
}

.menu .copyright-text {
  position: relative;
  margin-top: 1.875rem;
}

.menu .copyright-text p {
  border-top: .063rem solid rgba(136, 46, 46, 0.1);
  display: inline-block;
  width: 100%;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-top: 1.875rem;
  font-size: 0.813rem;
}

.menu:before,
.menu:after {
  content: "";
  display: table;
}

.menu:after {
  clear: both;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu::-webkit-scrollbar {
  display: none;
}


.menu-toggle {
  background-color: var(--color-black-almost);
  cursor: pointer;
  display: none;
  fill: var(--color-orange-for-black);
  position: fixed;
  top: 0;
  left: 0;
  width: 3.75rem;
  height: 3.75rem;
  padding: 1rem;
  z-index: 999;
}

#menu-toggle {
  padding: 0;
}

.menu-close {
  background-color: var(--color-orange-for-white);
  fill: var(--color-white);
  margin-left: 80%;
}


/* Section */

.section {
  color: var(--color-white);
  width: 55%;
  right: 10%;
  left: 35%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
  border-bottom: 0.188rem solid rgba(250, 250, 250, 0.25);
}

.section-heading {
  text-align: center;
  padding: 3.75rem 2.813rem;
}

.section-heading h2 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

.section-heading .line-dec {
  width: 3.75rem;
  height: 0.188rem;
  background-color: var(--color-orange-for-black);
  margin: 0.625rem auto;
}

.section-heading span {
  margin-top: 0.313rem;
  color: var(--color-white);
  letter-spacing: 0.031rem;
}

.subsection {
  min-width: 100%;
}


/* Buttons */

.white-button {
  display: inline-block;
  padding: 0;
  margin: 0 0.938rem;
}

.white-button a {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  background-color: var(--color-white);
  color: var(--color-orange-for-white);
  font-size: 0.813rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.031rem;
  text-transform: uppercase;
  transition: all 0.5s;
}

.white-button a:hover {
  background-color: var(--color-orange-for-white);
  color: var(--color-white);
}

button {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: var(--color-white);
  color: var(--color-orange-for-white);
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.031rem;
  text-transform: uppercase;
  transition: all 0.5s;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  outline: none;
  background-color: var(--color-orange-for-white);
  color: var(--color-white);
}


/* Left & Right Post */

.penzance-container {
  display: flex;
  justify-content: center;
  margin-top: 54vh;
}

.penzance {
  padding-top: 4rem;
}

@media screen and (min-width: 846px) {
  .penzance {
    padding-top: .825rem;
  }
}

.right-image-post {
  margin-top: 0;
  padding-top: 0;
}

.left-image img,
.right-image img {
  border-radius: 0.313rem;
}

.right-image-post p,
.left-image-post p {
  margin-top: 1.25rem;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -0.938rem;
  margin-left: -0.938rem;
  padding: 0 0 1.875rem;
}

.right-image-post .white-button,
.left-image-post .white-button {
  margin: 0 0.938rem;
}

@media screen and (max-width: 768px) {
  .right-image-post .row {
    flex-direction: column-reverse;
  }

  .right-image-post .right-image {
    margin-top: 0;
    margin-bottom: 1.875rem;
  }
}


/* My Skill Set */

.skills {
  justify-content: center;
  margin-bottom: 1.875rem;
}

.skill-set {
  list-style-position: inside;
  list-style-type: square;
  text-align: start;
}

.skill-set li {
  display: list-item;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.625rem;
}

.skill-set-blurb {
  margin-bottom: 1.875rem;
  padding-left: 5%;
  padding-right: 7%;
}

.skill-set-blurb .quote {
  margin: 1rem;
}

.skill-set-categories {
  color: var(--color-orange-for-black);
  font-style: italic;
  margin-right: 0.313rem;
}

.skill-set-divider {
  color: var(--color-orange-for-black);
  padding: 0 0.313rem;
}

.skill-set-skills {
  color: var(--color-white);
}

.tech-list {
  display: inline-block;
  margin-top: 3.125rem;
}

.tech-list-svg {
  height: 6.25rem;
  margin: 0.313rem;
  width: 6.25rem;
}

.tech-list-svg-narrow {
  margin: 0.313rem -0.625rem;
}

@media screen and (max-width: 494px) {
  .skill-set {
    font-size: 0.75rem;
  }

  .tech-list-svg {
    height: 3.125rem;
    margin: 0.188rem;
    width: 3.125rem;
  }
}


/* My Project Portfolio */

.my-projects .col-md-6 {
  margin-bottom: 0.625rem;
  padding-left: 0.313rem;
  padding-right: 0.313rem;
}

.project-item {
  background-color: rgba(250, 250, 250, 0.1);
  height: 100%;
  margin-bottom: 0.625rem;
  padding: 3.125rem;
  transition: all 0.5s;
}

.project-item h4 {
  transition: all 0.5s;
}

.project-item p {
  transition: all 0.5s;
}

.project-item p.attribution {
  text-align: center;
}

.project-item:hover p.attribution span.falsehood {
  text-decoration: line-through;
  text-decoration-color: var(--color-orange-for-white);
}

.project-item p.attribution span.admission {
  visibility: hidden;
}

.project-item:hover p.attribution span.admission {
  visibility: visible;
  color:var(--color-orange-for-white);
}

.project-item:hover p span.emphasis {
  color: var(--color-orange-for-white);
}

.project-item:hover {
  background-color: rgba(250, 250, 250, 1);
}

.project-item:hover h4 {
  color: var(--color-black-almost);
}

.project-item:hover p {
  color: var(--color-black-almost);
}

.project-item .project-icon {
  width: 4.375rem;
  height: 4.375rem;
  display: inline-block;
  fill: var(--color-white);
  margin-bottom: 1.875rem;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

.project-item:hover .project-icon {
  fill: var(--color-orange-for-white);
}

.project-item .nyt-streak {
  font-size: 0.75rem;
  font-style: italic;
}

.project-item .my-nyt-streak {
  color: var(--color-orange-for-white);
  display: none;
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
}

.project-item .mystery {
  display: block;
}

.project-item:hover .nyt-streak {
  font-weight: var(--font-weight-bold);
}

.project-item:hover .my-nyt-streak {
  display: block;
}

.project-item:hover .mystery {
  display: none;
}

.project-thumbnail {
  width: 6.75rem;
  height: 4.375rem;
  display: inline-block;
  margin-bottom: 1.875rem;
  margin-left: 1.875rem;
  border: .063rem solid black;
  opacity: 20%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.5s;
  vertical-align: top;
}

@media screen and (max-width: 1105px) and (min-width: 958px) {
  .project-thumbnail {
    margin-left: 0.938rem
  }
}

@media screen and (max-width: 957px) and (min-width: 768px) {
  .project-thumbnail {
    display: block;
    margin: 0.938rem auto;
  }
}

@media screen and (max-width: 356px) {
  .project-thumbnail {
    display: block;
    margin: 0.938rem auto;
  }
}

.project-item:hover .project-thumbnail {
  opacity: 100%;
}

.project-thumbnail-teepublic {
  background-image: url(../images/teepublic-small.gif);
}

.project-thumbnail-mytimes {
  background-image: url(../images/wordcross-small.gif);
}

.project-thumbnail-waylon {
  background-image: url(../images/waylon-small.gif);
}

/* My Work */

section.my-work .section-heading {
  text-align: center;
  padding: 5rem 2.813rem 3.125rem 2.813rem;
}

.prior-career-blurb h3 {
  margin-top: 0;
}

.link {
  color: var(--color-orange-for-black);
  font-weight: var(--font-weight-bold);
  transition: all 0.3s;
}

.link:hover,
.link:visited:hover {
  color: var(--color-white);
}

.link:visited {
  color: var(--color-orange-for-black);
}

.isotope-wrapper {
  position: relative;
  width: 100%;
  margin: auto;
}

.isotope-toolbar input[type="radio"] {
  display: none;
}

.isotope-toolbar span {
  text-transform: capitalize;
  display: inline-block;
  margin-right: 0.938rem;
  padding-bottom: 0.188rem;
  font-size: 0.938rem;
  font-weight: var(--font-weight-bold);
  border-bottom: 0.125rem solid transparent;
  transform: ease-in-out 0.5s;
  cursor: pointer;
}

.isotope-toolbar input[type="radio"]:checked + span {
  color: var(--color-orange-for-black);
  border-bottom: 0.125rem solid var(--color-orange-for-black);
}

.isotope-box {
  position: relative;
  width: 100%;
}

.isotope-toolbar {
  text-align: center;
  margin: 0.625rem;
}

.isotope-toolbar p {
  border-top: .063rem solid var(--color-white);
  padding-top: 0.938rem;
}

.isotope-toolbar a {
  color: var(--color-white);
}

.isotope-item {
  position: relative;
  width: 48%;
  margin: 1%;
  border-bottom: 0.125rem solid rgba(250,250,250,0.1);
  padding-bottom: 1.875rem;
  margin-bottom: 1.875rem;
  filter: brightness(0.4);
}

.isotope-item:hover {
  z-index: 1;
  filter: none;
}

.isotope-item img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.313rem;
}

.lazyload {
  background: var(--color-white-almost);
}

.lazyloading {
  background: var(--color-white-almost) url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
  min-height: 3.75rem;
}

figure.snip1321 {
  overflow: hidden;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1321 figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 1.25rem;
  right: 1.25rem;
  position: absolute;
  opacity: 0;
  z-index: 2;
}
.search-icon {
  background-color: var(--color-orange-for-white);
  background-image: url(../images/search-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 20%;
  height: 2.5rem;
  margin-bottom: 33%;
  width: 2.5rem;
}
.search-text-for-screen-readers {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
figure.snip1321 h4 {
  margin-top: 0.938rem;
  margin-bottom: 0.313rem;
  color: var(--color-gray-very-dark);
}
figure.snip1321 span {
  font-size: 0.875rem;
  font-style: italic;
  display: block;
  color: var(--color-gray);
}
figure.snip1321:after {
  background-color: var(--color-white);
  position: absolute;
  content: "";
  display: block;
  top: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;
  bottom: 1.25rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 0.9;
}


/* Contact Me */

section.contact-me {
  border-bottom: none;
}

#contact input {
  background-color: rgba(250,250,250,0.1);
  border: .063rem solid rgba(250,250,250,1);
  border-radius: 0;
  color: var(--color-white);
  font-size: 0.875rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 1.875rem;
  padding-left: 0.938rem;
  width: 100%;
}

#contact input:focus {
  box-shadow: none;
  outline: none;
}

#contact textarea {
  background-color: rgba(250,250,250,0.1);
  border: .063rem solid rgba(250,250,250,1);
  border-radius: 0;
  color: var(--color-white);
  font-size: 0.875rem;
  height: 11.25rem;
  line-height: 2.5rem;
  margin-bottom: 1.875rem;
  max-height: 13.75rem;
  padding-left: 0.938rem;
  width: 100%;
}

#contact textarea:focus {
  box-shadow: none;
  outline: none;
}

.g-recaptcha {
  margin: 0 auto 1.875rem auto;
}

#contact {
  text-align: center;
}

@media screen and (max-width: 1680px) {
  .menu {
    left: 5%;
  }

  .section {
    color: var(--color-white);
    left: 30%;
    right: 5%;
    width: 65%;
  }
}

@media screen and (max-width: 1680px) and (min-width: 846px) {
  .menu .social-network ul li a {
    height: 2.25rem;
    line-height: 2.25rem;
    width: 2.25rem;
  }

  .menu .social-network ul li {
    margin: 0;
  }

  .menu .image {
    margin-top: 3.75rem;
  }
}

@media screen and (max-width: 1280px) {
  .menu {
    left: 0%;
  }

  .right-image-post h3,
  .left-image-post h3 {
    margin-top: 0;
  }

  .right-image-post p,
  .left-image-post p {
    margin-top: 0.938rem;
  }

  .right-image-post .white-button,
  .left-image-post .white-button {
    margin-top: 1.563rem;
  }

}

.menu .container {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
  .menu {
    width: 25%;
  }
}

@media screen and (max-width: 845px) {
  .menu {
    width: 20rem;
    -webkit-transform: translateX(-100%) !important;
    transform: translateX(-100%) !important;
    transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
   }

  .menu .image {
    margin-top: 2.5rem;
  }

  .menu .image img {
    height: 7.5rem;
    width: 7.5rem;
  }

  .menu .author-content {
    margin: 1.25rem 0 2.5rem;
  }

  .menu .container {
    padding-left: 0.938rem;
    padding-right: 0.938rem;
  }

  .menu.open {
    display: inline-block;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }

  .menu-toggle {
    display: inline-block;
  }

  .responsive-nav {
    display: inline-block;
  }
  .section {
    left: 3%;
    right: 3%;
    width: 94%;
  }
  .isotope-item {
    margin: 3%;
    width: 94%;
  }
  .left-image-post img {
    margin-bottom: 1.875rem;
  }
  .right-image-post img {
    margin-top: 1.875rem;
  }
  .isotope-item {
    border-bottom: none;
    text-align: center;
  }
  .isotope-toolbar {
    margin-bottom: 1.25rem;
  }
}
